body{
    background: whitesmoke;
    min-height: 100vh;
    box-sizing: border-box;
}
.container{
    margin-top: 20px;
    margin-bottom: 80px;
}

.card-img-top{
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.footer a{
    color: whitesmoke;
}

.footer a:hover{
    color: #8C9EFF;
}

.navLista button{
    width: 80px;
    border: 1px solid whitesmoke;
    background: transparent;
    color: whitesmoke;
}

a{
    color: #292b2c;
}

a:hover{
    color: #1A237E;
}